@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hero-mask-start: 540px;
  --hero-mask-end: 190000px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sand: #fffdd0;
  --color-purple-dark: #2c1f36;
  --color-purple-lilikoi: #9d90c5;
  --color-forest: #254d32;
  --color-gray-light: #d9d9d9;
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 767px) {
  :root {
    --hero-mask-start: 180px;
    --hero-mask-end: 100000px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
}

@keyframes playPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}
